<footer class="c-footer">
  <a href="/">Home</a>
  <a href="/code-of-conduct">Code of Conduct</a>
  <!-- <a href="/styleguide">Styleguide</a> -->
  <a href="https://github.com/alexcarpenter/front-end-foundations/tree/master/{{ page.inputPath }}">Edit this page on GitHub</a>
</footer>
