<footer class="c-footer">
  <a href="/">Home</a>
  <a href="/code-of-conduct/">Code of Conduct</a>
  <a href="https://github.com/alexcarpenter/frontend-foundations/tree/master/{{ page.inputPath }}">Edit this page on GitHub</a>
</footer>
