{% macro jobListing(params) %}
<article class="c-job-listing">
  <div class="c-job-listing__branding">
    <img src="http://placehold.it/75x75" alt="">
  </div>
  <header class="c-job-listing__header">
    <time>Posted on {{ params.date | readableDate }}</time>
    <h2 class="c-job-listing__title"><a href="{{ params.url }}">{{ params.title }} at {{ params.company }}</a></h2>
    <p>Type <strong>{{ params.type }}</strong> &bullet; {% if params.offices === false %} <strong>Remote Only</strong> {% else %} Location <strong>{{ params.location }}</strong>{% if params.remote === true %} &bullet; Remote <strong>Available</strong>{% endif %}{% endif %}</p>
  </header>
  <div class="c-job-listing__description">
    {{- params.description | safe -}}
  </div>
</article>
{% endmacro %}
