<form
  action="https://buttondown.email/api/emails/embed-subscribe/alexcarpenter"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/alexcarpenter', 'popupwindow')"
  class="embeddable-buttondown-form c-form"
>
  <input type="hidden" value="1" name="embed"/>
  <div class="c-form__row">
    <label class="c-form__label" for="bd-email">Your Email</label>
    <div class="c-form__input-group">
      <input class="c-form__input" type="email" name="email" id="bd-email" required>
      <input class="c-button" type="submit" value="Subscribe" />
    </div>
    <small class="c-form__help">Powered by <a href="https://buttondown.email" target="_blank">Buttondown</a>.</small>
  </div>
</form>
