{% extends 'layouts/default.njk' %}

{% from 'components/page-header.njk' import pageHeader %}

{% block content %}
  {{ pageHeader({
    title: title,
    description: description
  }) }}

  <div class="o-layout">
    <div class="o-layout__primary">
      <div class="c-prose">
        {{ content | safe }}
      </div>
    </div>
  </div>
{% endblock %}
