---
permalink: /index.html
---
{% extends "layouts/default.njk" %}

{% from 'components/check-list.njk' import checkList %}
{% from 'components/reference.njk' import reference %}

{% block content %}
  <h1 class="c-heading-intro">A resource and community for developers learning <abbr title="Hypertext Markup Language">HTML</abbr>, <abbr title="Cascading Stylesheets">CSS</abbr>, &amp; Javascript. Mostly for beginners–but everyone is welcome.</h1>

  <section>
    <div class="o-grid">
      <div class="o-grid__item u-width-1of2">
        <div class="c-prose">
          <h2 class="c-heading-decorate">Join our weekly newsletter</h2>
          <p>A curated newsletter highlighting foundational HTML, CSS, and Javascript resources and tutorials. Subscribe now and never miss an issue.</p>
          {% include 'components/newsletter.njk' %}
          <hr>
          {{ reference({
            avatar: '/assets/images/claire-gersabeck.jpeg',
            body: 'The Front-End Foundations Newsletter helps fill in the gaps of my knowledge with well-chosen resources that would be hard to seek out on my own. It has helped me improve as a developer!',
            link: 'https://www.linkedin.com/in/claire-gersabeck/',
            cite: 'Claire Gersabeck',
            title: 'Front-end Developer'
          }) }}
        </div>
      </div>

      <div class="o-grid__item u-width-1of2">
        <div class="c-prose">
          <h2 class="c-heading-decorate">Mission</h2>
          <p>It is our mission to help entry level front-end developers find their first job.</p>
          <br>
          <h2 class="c-heading-decorate">Roadmap</h2>
          {{ checkList({
            items: [
              {
                completed: true,
                text: '<a href="/job-board/">Job board</a> for entry level developers'
              },
              {
                completed: true,
                text: '<a href="/newsletter/">Newsletter</a>'
              },
              {
                completed: false,
                text: 'YouTube screencasts'
              },
              {
                completed: false,
                text: 'Podcast'
              },
              {
                completed: false,
                text: 'Maybe someday a conference'
              }
            ]
          }) }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
