/* ==========================================================================
   SETTINGS
   ========================================================================== */


:root {
  --font-family-sans-serif: 'Poppins', sans-serif;
  --color-primary: #397dfb;
  --color-secondary: #ed4629;
  --color-tertiary: #fdbb2c;
  --color-gray-0: #111;
  --color-gray-20: #333;
  --color-gray-70: #eee;
  --color-gray-100: #fafafa;
  --grid-gutter-size: 4rem;
}


/* ==========================================================================
   BASE
   ========================================================================== */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding: 4rem 1rem;
  font-family: var(--font-family-sans-serif);
  color: var(--color-gray-0);
}

main {
  outline: 0;
}

main > * {
  margin-bottom: 4rem;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3;
}

a {
  color: inherit;
  -webkit-text-decoration-color: var(--color-primary);
          text-decoration-color: var(--color-primary);
}

a:hover,
a:focus {
  color: var(--color-primary);
}

small {
  line-height: 1.3;
}

abbr {
  cursor: help;
}


/* ==========================================================================
   OBJECTS
   ========================================================================== */


/**
 * Columns
 */

@media screen and (min-width: 600px) {
  .o-columns {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}


/**
 * Grid
 */

.o-grid {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0 calc(-0.5 * var(--grid-gutter-size)) calc(-1 * var(--grid-gutter-size));
}

.o-grid__item {
  flex-basis: 100%;
  min-width: 0;
  margin-bottom: var(--grid-gutter-size);
  padding: 0 calc(0.5 * var(--grid-gutter-size));
}


/**
 * Wrapper
 */

.o-wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}


/**
 * Ratio
 */

[style*="--aspect-ratio"] > :first-child {
  height: auto;
  width: 100%;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
    background-color: var(--color-gray-0);
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}


/* ==========================================================================
   COMPONENTS
   ========================================================================== */


/**
 * Headings
 */

.c-heading-title {
  margin-bottom: 4rem;
  font-size: 2rem;
  line-height: 1;
}

.c-heading-title:after {
  content: "\2009\00AC";
  display: inline-block;
  color: currentColor;
  opacity: .25;
}

.c-heading-intro {
  font-size: 2rem;
}

.c-heading-decorate:after {
  content: "\2009\00AC";
  display: inline-block;
  color: currentColor;
  opacity: .25;
}

@media screen and (min-width: 600px) {
  .c-heading-title,
  .c-heading-intro {
    font-size: 3.25rem;
  }
}


/**
 * Header
 */

.c-header {
  margin-bottom: 4rem;
}


/**
 * Button
 */

.c-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.75rem 1rem;
  background-color: var(--color-tertiary);
  color: var(--color-gray-0);
  font: inherit;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.c-button:hover,
.c-button:focus {
  background-color: var(--color-gray-0);
  color: #fff;
}


/**
 * Form
 */

.c-form {
  position: relative;
}

.c-form__row {
  margin-bottom: 1rem;
}

.c-form__label {
  display: block;
  margin-bottom: 0.25rem;
}

.c-form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font: inherit;
  border: 1px solid #ccc;
  background-color: var(--color-gray-100);
  resize: none;
}

.c-form__help {
  display: inline-block;
  padding-top: 0.5rem;
}


/**
 * Prose
 */

.c-prose {
  max-width: 60ch;
}

.c-prose > *:not(:last-child) {
  margin-bottom: 1rem;
}

.c-prose ul,
.c-prose ol {
  padding-left: 1.2rem;
}

.c-prose h2,
.c-prose h3,
.c-prose h4 {
  margin-bottom: 0.5rem !important;
}


/**
 * Footer
 */

.c-footer {
  display: flex;
  padding-top: 2rem;
  border-top: 1px solid var(--color-gray-70);
}

@media screen and (max-width: 600px) {
  .c-footer {
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .c-footer a:not(:last-of-type) {
    margin-right: 1rem;
  }

  .c-footer a:last-of-type {
    margin-left: auto;
  }
}


/* ==========================================================================
   UTILITIES
   ========================================================================== */


/**
 * Widths
 */

@media screen and (min-width: 600px) {
  .u-width-1of3 {
    flex-basis: auto !important;
    width: calc(100% * 1 / 3) !important;
  }

  .u-width-1of2 {
    flex-basis: auto !important;
    width: calc(100% * 1 / 2) !important;
  }

  .u-width-2of3 {
    flex-basis: auto !important;
    width: calc(100% * 2 / 3) !important;
  }
}


/**
 * Spin
 */

.u-spin {
  position: relative;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
