---
title: Job Board
permalink: /job-board/index.html
---
{% extends 'layouts/page.njk' %}
{# Import components #}
{% from 'components/job-listing.njk' import jobListing %}

{% block primary %}
  <ul class="c-entry-listing">
    {% for item in collections.jobs %}
      <li class="c-entry-listing__item">
        {{ jobListing({
          date: item.data.date,
          title: item.data.title,
          company: item.data.company,
          type: item.data.type,
          location: item.data.location,
          remote: item.data.remote,
          description: item.templateContent
        }) }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block secondary %}{% endblock %}