---
layout: layout.njk
---
<h1 class="c-heading-intro">A resource and community for people learning <abbr title="Hypertext Markup Language">HTML</abbr>, <abbr title="Cascading Stylesheets">CSS</abbr>, &amp; Javascript. Mostly for beginners–but everyone is welcome.</h1>

<section>
  <div class="o-grid">
    <div class="o-grid__item u-width-2of3">
      <h2 class="c-heading-section c-heading-decorate">Signup to join our <a href="https://discordapp.com/">Discord</a> community</h2>
      {% include "components/form.njk" %}
    </div>

    <!-- <div class="o-grid__item u-width-1of3">
      <div class="c-prose">
        <h2 class="c-heading-section c-heading-decorate">What to expect</h2>
        <ul>
          <li>HTML, vanilla CSS, & vanilla javascript</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor. Lorem ipsum.</li>
        </ul>

        <br>

        <h2 class="c-heading-section c-heading-decorate">What not to expect</h2>
        <ul>
          <li>The latest and greatest framework</li>
          <li>Lorem ipsum dolor. Lorem ipsum.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
        </ul>
      </div>
    </div> -->
  </div>
</section>
